In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.appName('Exercise_1_cont').getOrCreate()
spark.sparkContext.setLogLevel('ERROR')

In [ ]:
file_path = '/content/restaurant-orders.csv'
df = spark.read.csv(file_path, header=True, inferSchema=True)

In [ ]:
df.select(count('*').alias("Total_rows")).show()

+----------+
|Total_rows|
+----------+
|    119183|
+----------+

In [ ]:
df.select(count('*').alias("Total_rows"), countDistinct("Order ID").alias("Total_orders")).show()

+----------+------------+
|Total_rows|Total_orders|
+----------+------------+
|    119183|       19658|
+----------+------------+

In [ ]:
df.select(count('*').alias("Total_rows"),
          countDistinct("Order ID").alias("Total_orders"), sum("Quantity"), round(avg("Product Price"),2)).show()

+----------+------------+-------------+----------------------------+
|Total_rows|Total_orders|sum(Quantity)|round(avg(Product Price), 2)|
+----------+------------+-------------+----------------------------+
|    119183|       19658|       148844|                        5.11|
+----------+------------+-------------+----------------------------+

In [ ]:
df.selectExpr("count(*) as Total_rows",
              "count(distinct 'Order ID') as Total_orders",
              "sum(Quantity)",
              "round(avg('Product Price'),2)").show()

+----------+------------+-------------+----------------------------+
|Total_rows|Total_orders|sum(Quantity)|round(avg(Product Price), 2)|
+----------+------------+-------------+----------------------------+
|    119183|           1|       148844|                        NULL|
+----------+------------+-------------+----------------------------+

In [ ]:
df.createOrReplaceTempView("orders")

In [ ]:
spark.sql("""
    SELECT
        count(*) as Total_rows,
        count(distinct `Order ID`) as Tatal_orders,
        sum(Quantity),
        round(avg(`Product Price`),2)
    FROM orders
""").show()

+----------+------------+-------------+----------------------------+
|Total_rows|Tatal_orders|sum(Quantity)|round(avg(Product Price), 2)|
+----------+------------+-------------+----------------------------+
|    119183|       19658|       148844|                        5.11|
+----------+------------+-------------+----------------------------+

In [ ]:
df.groupBy("Order ID").agg(sum("Quantity").alias("Total_quantity")).collect()  #show() --> 20 items

[Row(Order ID=25517, Total_quantity=4),
 Row(Order ID=24663, Total_quantity=6),
 Row(Order ID=24347, Total_quantity=13),
 Row(Order ID=24171, Total_quantity=4),
 Row(Order ID=21700, Total_quantity=10),
 Row(Order ID=21220, Total_quantity=6),
 Row(Order ID=20924, Total_quantity=6),
 Row(Order ID=20497, Total_quantity=15),
 Row(Order ID=20382, Total_quantity=9),
 Row(Order ID=19553, Total_quantity=8),
 Row(Order ID=19204, Total_quantity=8),
 Row(Order ID=18944, Total_quantity=9),
 Row(Order ID=18498, Total_quantity=7),
 Row(Order ID=12046, Total_quantity=12),
 Row(Order ID=11858, Total_quantity=12),
 Row(Order ID=11033, Total_quantity=5),
 Row(Order ID=10623, Total_quantity=10),
 Row(Order ID=10362, Total_quantity=7),
 Row(Order ID=10206, Total_quantity=14),
 Row(Order ID=9900, Total_quantity=18),
 Row(Order ID=7993, Total_quantity=11),
 Row(Order ID=7880, Total_quantity=9),
 Row(Order ID=7554, Total_quantity=7),
 Row(Order ID=7253, Total_quantity=17),
 Row(Order ID=6654, Total_quantity=17),
 Row(Order ID=6397, Total_quantity=16),
 Row(Order ID=6357, Total_quantity=11),
 Row(Order ID=6336, Total_quantity=8),
 Row(Order ID=5803, Total_quantity=8),
 Row(Order ID=4818, Total_quantity=10),
 Row(Order ID=4519, Total_quantity=12),
 Row(Order ID=22521, Total_quantity=7),
 Row(Order ID=19984, Total_quantity=8),
 Row(Order ID=18654, Total_quantity=9),
 Row(Order ID=16574, Total_quantity=6),
 Row(Order ID=15447, Total_quantity=10),
 Row(Order ID=13623, Total_quantity=6),
 Row(Order ID=9427, Total_quantity=15),
 Row(Order ID=8592, Total_quantity=6),
 Row(Order ID=8086, Total_quantity=7),
 Row(Order ID=7340, Total_quantity=8),
 Row(Order ID=6620, Total_quantity=25),
 Row(Order ID=25462, Total_quantity=8),
 Row(Order ID=22346, Total_quantity=5),
 Row(Order ID=20135, Total_quantity=5),
 Row(Order ID=18800, Total_quantity=5),
 Row(Order ID=17753, Total_quantity=5),
 Row(Order ID=13832, Total_quantity=9),
 Row(Order ID=11748, Total_quantity=5),
 Row(Order ID=23336, Total_quantity=8),
 Row(Order ID=22373, Total_quantity=9),
 Row(Order ID=22097, Total_quantity=5),
 Row(Order ID=18979, Total_quantity=7),
 Row(Order ID=18866, Total_quantity=4),
 Row(Order ID=18051, Total_quantity=4),
 Row(Order ID=16339, Total_quantity=7),
 Row(Order ID=15957, Total_quantity=5),
 Row(Order ID=13289, Total_quantity=5),
 Row(Order ID=12799, Total_quantity=7),
 Row(Order ID=9852, Total_quantity=4),
 Row(Order ID=9465, Total_quantity=6),
 Row(Order ID=8638, Total_quantity=17),
 Row(Order ID=8389, Total_quantity=8),
 Row(Order ID=7833, Total_quantity=6),
 Row(Order ID=6466, Total_quantity=6),
 Row(Order ID=5156, Total_quantity=11),
 Row(Order ID=4900, Total_quantity=5),
 Row(Order ID=23571, Total_quantity=8),
 Row(Order ID=23364, Total_quantity=9),
 Row(Order ID=23271, Total_quantity=11),
 Row(Order ID=23015, Total_quantity=3),
 Row(Order ID=20683, Total_quantity=5),
 Row(Order ID=19079, Total_quantity=12),
 Row(Order ID=18911, Total_quantity=5),
 Row(Order ID=18024, Total_quantity=5),
 Row(Order ID=17679, Total_quantity=4),
 Row(Order ID=17420, Total_quantity=5),
 Row(Order ID=17389, Total_quantity=3),
 Row(Order ID=16861, Total_quantity=12),
 Row(Order ID=15727, Total_quantity=5),
 Row(Order ID=15619, Total_quantity=7),
 Row(Order ID=14570, Total_quantity=4),
 Row(Order ID=12940, Total_quantity=6),
 Row(Order ID=11458, Total_quantity=6),
 Row(Order ID=11141, Total_quantity=5),
 Row(Order ID=10817, Total_quantity=5),
 Row(Order ID=7982, Total_quantity=4),
 Row(Order ID=7754, Total_quantity=5),
 Row(Order ID=7240, Total_quantity=6),
 Row(Order ID=6658, Total_quantity=14),
 Row(Order ID=5518, Total_quantity=6),
 Row(Order ID=5300, Total_quantity=6),
 Row(Order ID=4935, Total_quantity=11),
 Row(Order ID=24354, Total_quantity=2),
 Row(Order ID=22223, Total_quantity=1),
 Row(Order ID=16503, Total_quantity=4),
 Row(Order ID=16386, Total_quantity=5),
 Row(Order ID=12027, Total_quantity=4),
 Row(Order ID=13840, Total_quantity=3),
 Row(Order ID=20735, Total_quantity=5),
 Row(Order ID=19530, Total_quantity=2),
 Row(Order ID=14450, Total_quantity=2),
 Row(Order ID=24873, Total_quantity=9),
 Row(Order ID=23727, Total_quantity=6),
 Row(Order ID=23136, Total_quantity=10),
 Row(Order ID=22990, Total_quantity=7),
 Row(Order ID=22188, Total_quantity=11),
 Row(Order ID=22004, Total_quantity=9),
 Row(Order ID=21598, Total_quantity=7),
 Row(Order ID=20596, Total_quantity=5),
 Row(Order ID=20396, Total_quantity=8),
 Row(Order ID=19873, Total_quantity=7),
 Row(Order ID=19325, Total_quantity=6),
 Row(Order ID=19200, Total_quantity=16),
 Row(Order ID=18282, Total_quantity=1),
 Row(Order ID=18161, Total_quantity=9),
 Row(Order ID=17172, Total_quantity=5),
 Row(Order ID=16916, Total_quantity=14),
 Row(Order ID=16500, Total_quantity=13),
 Row(Order ID=15004, Total_quantity=9),
 Row(Order ID=14423, Total_quantity=17),
 Row(Order ID=13622, Total_quantity=10),
 Row(Order ID=13261, Total_quantity=7),
 Row(Order ID=12626, Total_quantity=18),
 Row(Order ID=12471, Total_quantity=6),
 Row(Order ID=10703, Total_quantity=13),
 Row(Order ID=10230, Total_quantity=18),
 Row(Order ID=7168, Total_quantity=12),
 Row(Order ID=6773, Total_quantity=6),
 Row(Order ID=6623, Total_quantity=9),
 Row(Order ID=4929, Total_quantity=17),
 Row(Order ID=25283, Total_quantity=8),
 Row(Order ID=24728, Total_quantity=9),
 Row(Order ID=23523, Total_quantity=18),
 Row(Order ID=20928, Total_quantity=18),
 Row(Order ID=19962, Total_quantity=25),
 Row(Order ID=19206, Total_quantity=12),
 Row(Order ID=18902, Total_quantity=8),
 Row(Order ID=18218, Total_quantity=4),
 Row(Order ID=15254, Total_quantity=12),
 Row(Order ID=15100, Total_quantity=7),
 Row(Order ID=12367, Total_quantity=13),
 Row(Order ID=12006, Total_quantity=6),
 Row(Order ID=11280, Total_quantity=4),
 Row(Order ID=10121, Total_quantity=12),
 Row(Order ID=9182, Total_quantity=6),
 Row(Order ID=23709, Total_quantity=15),
 Row(Order ID=21859, Total_quantity=6),
 Row(Order ID=20268, Total_quantity=12),
 Row(Order ID=12715, Total_quantity=8),
 Row(Order ID=8932, Total_quantity=19),
 Row(Order ID=24355, Total_quantity=13),
 Row(Order ID=22970, Total_quantity=6),
 Row(Order ID=21715, Total_quantity=6),
 Row(Order ID=21116, Total_quantity=6),
 Row(Order ID=19758, Total_quantity=10),
 Row(Order ID=19499, Total_quantity=4),
 Row(Order ID=19351, Total_quantity=4),
 Row(Order ID=18956, Total_quantity=5),
 Row(Order ID=18595, Total_quantity=3),
 Row(Order ID=18467, Total_quantity=7),
 Row(Order ID=17607, Total_quantity=4),
 Row(Order ID=15003, Total_quantity=7),
 Row(Order ID=14536, Total_quantity=6),
 Row(Order ID=14148, Total_quantity=8),
 Row(Order ID=12611, Total_quantity=4),
 Row(Order ID=11710, Total_quantity=6),
 Row(Order ID=10914, Total_quantity=7),
 Row(Order ID=8928, Total_quantity=5),
 Row(Order ID=24985, Total_quantity=7),
 Row(Order ID=23607, Total_quantity=4),
 Row(Order ID=23455, Total_quantity=4),
 Row(Order ID=22555, Total_quantity=6),
 Row(Order ID=22412, Total_quantity=6),
 Row(Order ID=22021, Total_quantity=7),
 Row(Order ID=21558, Total_quantity=4),
 Row(Order ID=19886, Total_quantity=5),
 Row(Order ID=19614, Total_quantity=6),
 Row(Order ID=17688, Total_quantity=7),
 Row(Order ID=15967, Total_quantity=5),
 Row(Order ID=15538, Total_quantity=6),
 Row(Order ID=14514, Total_quantity=6),
 Row(Order ID=11500, Total_quantity=5),
 Row(Order ID=9879, Total_quantity=6),
 Row(Order ID=9564, Total_quantity=4),
 Row(Order ID=8803, Total_quantity=8),
 Row(Order ID=8105, Total_quantity=10),
 Row(Order ID=6393, Total_quantity=5),
 Row(Order ID=5614, Total_quantity=4),
 Row(Order ID=23706, Total_quantity=7),
 Row(Order ID=19669, Total_quantity=5),
 Row(Order ID=18201, Total_quantity=3),
 Row(Order ID=18479, Total_quantity=3),
 Row(Order ID=14075, Total_quantity=3),
 Row(Order ID=19878, Total_quantity=3),
 Row(Order ID=25227, Total_quantity=3),
 Row(Order ID=25106, Total_quantity=17),
 Row(Order ID=24504, Total_quantity=16),
 Row(Order ID=21633, Total_quantity=11),
 Row(Order ID=21058, Total_quantity=11),
 Row(Order ID=20506, Total_quantity=12),
 Row(Order ID=20467, Total_quantity=7),
 Row(Order ID=19868, Total_quantity=16),
 Row(Order ID=19413, Total_quantity=13),
 Row(Order ID=18502, Total_quantity=11),
 Row(Order ID=18221, Total_quantity=10),
 Row(Order ID=17751, Total_quantity=9),
 Row(Order ID=17708, Total_quantity=12),
 Row(Order ID=17077, Total_quantity=5),
 Row(Order ID=17044, Total_quantity=14),
 Row(Order ID=16534, Total_quantity=12),
 Row(Order ID=15655, Total_quantity=11),
 Row(Order ID=14420, Total_quantity=16),
 Row(Order ID=14377, Total_quantity=5),
 Row(Order ID=13875, Total_quantity=9),
 Row(Order ID=13060, Total_quantity=8),
 Row(Order ID=13009, Total_quantity=9),
 Row(Order ID=12139, Total_quantity=1),
 Row(Order ID=9558, Total_quantity=11),
 Row(Order ID=9517, Total_quantity=13),
 Row(Order ID=7387, Total_quantity=9),
 Row(Order ID=7281, Total_quantity=11),
 Row(Order ID=6482, Total_quantity=14),
 Row(Order ID=5984, Total_quantity=13),
 Row(Order ID=5287, Total_quantity=13),
 Row(Order ID=23144, Total_quantity=9),
 Row(Order ID=20052, Total_quantity=13),
 Row(Order ID=17008, Total_quantity=10),
 Row(Order ID=16924, Total_quantity=6),
 Row(Order ID=15207, Total_quantity=7),
 Row(Order ID=13483, Total_quantity=13),
 Row(Order ID=11800, Total_quantity=6),
 Row(Order ID=9454, Total_quantity=7),
 Row(Order ID=8407, Total_quantity=6),
 Row(Order ID=7850, Total_quantity=10),
 Row(Order ID=20134, Total_quantity=6),
 Row(Order ID=19526, Total_quantity=5),
 Row(Order ID=19023, Total_quantity=6),
 Row(Order ID=18503, Total_quantity=5),
 Row(Order ID=15173, Total_quantity=5),
 Row(Order ID=13910, Total_quantity=7),
 Row(Order ID=13207, Total_quantity=6),
 Row(Order ID=4489, Total_quantity=5),
 Row(Order ID=25203, Total_quantity=4),
 Row(Order ID=24719, Total_quantity=3),
 Row(Order ID=24078, Total_quantity=9),
 Row(Order ID=22951, Total_quantity=9),
 Row(Order ID=20120, Total_quantity=5),
 Row(Order ID=17837, Total_quantity=3),
 Row(Order ID=17028, Total_quantity=4),
 Row(Order ID=16791, Total_quantity=5),
 Row(Order ID=14714, Total_quantity=10),
 Row(Order ID=12998, Total_quantity=6),
 Row(Order ID=11936, Total_quantity=5),
 Row(Order ID=10862, Total_quantity=4),
 Row(Order ID=10798, Total_quantity=6),
 Row(Order ID=9162, Total_quantity=12),
 Row(Order ID=8222, Total_quantity=5),
 Row(Order ID=6622, Total_quantity=6),
 Row(Order ID=6266, Total_quantity=7),
 Row(Order ID=25150, Total_quantity=13),
 Row(Order ID=24747, Total_quantity=6),
 Row(Order ID=24630, Total_quantity=9),
 Row(Order ID=22609, Total_quantity=5),
 Row(Order ID=20398, Total_quantity=6),
 Row(Order ID=20029, Total_quantity=6),
 Row(Order ID=20020, Total_quantity=4),
 Row(Order ID=19683, Total_quantity=5),
 Row(Order ID=19619, Total_quantity=4),
 Row(Order ID=19131, Total_quantity=5),
 Row(Order ID=18382, Total_quantity=4),
 Row(Order ID=17809, Total_quantity=7),
 Row(Order ID=17783, Total_quantity=6),
 Row(Order ID=17775, Total_quantity=4),
 Row(Order ID=17754, Total_quantity=8),
 Row(Order ID=16680, Total_quantity=6),
 Row(Order ID=15296, Total_quantity=7),
 Row(Order ID=15162, Total_quantity=3),
 Row(Order ID=14997, Total_quantity=4),
 Row(Order ID=14324, Total_quantity=4),
 Row(Order ID=13601, Total_quantity=7),
 Row(Order ID=11639, Total_quantity=9),
 Row(Order ID=10708, Total_quantity=11),
 Row(Order ID=8924, Total_quantity=6),
 Row(Order ID=7879, Total_quantity=7),
 Row(Order ID=5345, Total_quantity=7),
 Row(Order ID=24855, Total_quantity=20),
 Row(Order ID=23868, Total_quantity=4),
 Row(Order ID=22684, Total_quantity=4),
 Row(Order ID=20247, Total_quantity=5),
 Row(Order ID=16283, Total_quantity=4),
 Row(Order ID=15738, Total_quantity=6),
 Row(Order ID=14289, Total_quantity=3),
 Row(Order ID=12393, Total_quantity=6),
 Row(Order ID=11393, Total_quantity=3),
 Row(Order ID=6559, Total_quantity=4),
 Row(Order ID=5117, Total_quantity=2),
 Row(Order ID=8257, Total_quantity=3),
 Row(Order ID=13648, Total_quantity=2),
 Row(Order ID=24664, Total_quantity=14),
 Row(Order ID=23439, Total_quantity=5),
 Row(Order ID=23367, Total_quantity=10),
 Row(Order ID=23123, Total_quantity=10),
 Row(Order ID=22107, Total_quantity=10),
 Row(Order ID=21761, Total_quantity=8),
 Row(Order ID=21545, Total_quantity=11),
 Row(Order ID=19165, Total_quantity=14),
 Row(Order ID=19161, Total_quantity=11),
 Row(Order ID=19138, Total_quantity=6),
 Row(Order ID=17223, Total_quantity=11),
 Row(Order ID=15575, Total_quantity=17),
 Row(Order ID=13465, Total_quantity=12),
 Row(Order ID=12292, Total_quantity=15),
 Row(Order ID=10768, Total_quantity=8),
 Row(Order ID=9071, Total_quantity=5),
 Row(Order ID=8743, Total_quantity=18),
 Row(Order ID=8109, Total_quantity=15),
 Row(Order ID=7910, Total_quantity=5),
 Row(Order ID=7066, Total_quantity=9),
 Row(Order ID=6597, Total_quantity=17),
 Row(Order ID=5223, Total_quantity=10),
 Row(Order ID=23267, Total_quantity=5),
 Row(Order ID=21412, Total_quantity=21),
 Row(Order ID=21296, Total_quantity=7),
 Row(Order ID=18759, Total_quantity=5),
 Row(Order ID=16828, Total_quantity=1),
 Row(Order ID=14809, Total_quantity=9),
 Row(Order ID=11146, Total_quantity=8),
 Row(Order ID=4937, Total_quantity=7),
 Row(Order ID=20425, Total_quantity=7),
 Row(Order ID=19729, Total_quantity=6),
 Row(Order ID=18828, Total_quantity=12),
 Row(Order ID=5074, Total_quantity=6),
 Row(Order ID=24690, Total_quantity=3),
 Row(Order ID=23086, Total_quantity=4),
 Row(Order ID=21938, Total_quantity=5),
 Row(Order ID=20624, Total_quantity=4),
 Row(Order ID=20170, Total_quantity=4),
 Row(Order ID=18043, Total_quantity=5),
 Row(Order ID=17437, Total_quantity=9),
 Row(Order ID=16224, Total_quantity=4),
 Row(Order ID=15382, Total_quantity=6),
 Row(Order ID=13898, Total_quantity=4),
 Row(Order ID=13508, Total_quantity=5),
 Row(Order ID=11713, Total_quantity=3),
 Row(Order ID=10468, Total_quantity=14),
 Row(Order ID=8779, Total_quantity=6),
 Row(Order ID=7644, Total_quantity=6),
 Row(Order ID=7530, Total_quantity=4),
 Row(Order ID=7098, Total_quantity=5),
 Row(Order ID=4684, Total_quantity=5),
 Row(Order ID=23694, Total_quantity=12),
 Row(Order ID=23658, Total_quantity=10),
 Row(Order ID=23193, Total_quantity=6),
 Row(Order ID=22965, Total_quantity=3),
 Row(Order ID=22899, Total_quantity=8),
 Row(Order ID=22225, Total_quantity=10),
 Row(Order ID=22185, Total_quantity=5),
 Row(Order ID=20481, Total_quantity=4),
 Row(Order ID=20473, Total_quantity=5),
 Row(Order ID=19021, Total_quantity=5),
 Row(Order ID=18746, Total_quantity=14),
 Row(Order ID=18539, Total_quantity=5),
 Row(Order ID=17193, Total_quantity=4),
 Row(Order ID=15604, Total_quantity=4),
 Row(Order ID=14315, Total_quantity=7),
 Row(Order ID=13188, Total_quantity=4),
 Row(Order ID=12366, Total_quantity=7),
 Row(Order ID=11630, Total_quantity=5),
 Row(Order ID=9946, Total_quantity=10),
 Row(Order ID=8911, Total_quantity=5),
 Row(Order ID=7120, Total_quantity=4),
 Row(Order ID=6598, Total_quantity=8),
 Row(Order ID=5482, Total_quantity=4),
 Row(Order ID=5308, Total_quantity=6),
 Row(Order ID=5155, Total_quantity=8),
 Row(Order ID=21394, Total_quantity=4),
 Row(Order ID=18884, Total_quantity=1),
 Row(Order ID=24200, Total_quantity=2),
 Row(Order ID=17712, Total_quantity=4),
 Row(Order ID=13916, Total_quantity=2),
 Row(Order ID=9169, Total_quantity=3),
 Row(Order ID=8650, Total_quantity=6),
 Row(Order ID=18838, Total_quantity=2),
 Row(Order ID=25520, Total_quantity=2),
 Row(Order ID=24612, Total_quantity=6),
 Row(Order ID=24258, Total_quantity=9),
 Row(Order ID=23362, Total_quantity=7),
 Row(Order ID=23286, Total_quantity=6),
 Row(Order ID=22215, Total_quantity=11),
 Row(Order ID=21769, Total_quantity=14),
 Row(Order ID=20719, Total_quantity=14),
 Row(Order ID=20388, Total_quantity=6),
 Row(Order ID=19149, Total_quantity=12),
 Row(Order ID=18825, Total_quantity=11),
 Row(Order ID=18529, Total_quantity=12),
 Row(Order ID=17950, Total_quantity=24),
 Row(Order ID=17190, Total_quantity=5),
 Row(Order ID=16565, Total_quantity=10),
 Row(Order ID=16232, Total_quantity=7),
 Row(Order ID=15429, Total_quantity=19),
 Row(Order ID=14944, Total_quantity=5),
 Row(Order ID=13923, Total_quantity=7),
 Row(Order ID=13765, Total_quantity=8),
 Row(Order ID=13398, Total_quantity=13),
 Row(Order ID=13329, Total_quantity=20),
 Row(Order ID=13225, Total_quantity=12),
 Row(Order ID=12607, Total_quantity=12),
 Row(Order ID=12284, Total_quantity=5),
 Row(Order ID=11928, Total_quantity=5),
 Row(Order ID=11352, Total_quantity=12),
 Row(Order ID=10815, Total_quantity=16),
 Row(Order ID=9647, Total_quantity=14),
 Row(Order ID=9403, Total_quantity=6),
 Row(Order ID=8716, Total_quantity=10),
 Row(Order ID=8678, Total_quantity=27),
 Row(Order ID=8665, Total_quantity=11),
 Row(Order ID=7576, Total_quantity=6),
 Row(Order ID=6301, Total_quantity=19),
 Row(Order ID=6154, Total_quantity=17),
 Row(Order ID=5740, Total_quantity=10),
 Row(Order ID=21978, Total_quantity=12),
 Row(Order ID=21035, Total_quantity=8),
 Row(Order ID=20195, Total_quantity=12),
 Row(Order ID=16094, Total_quantity=12),
 Row(Order ID=15535, Total_quantity=12),
 Row(Order ID=11482, Total_quantity=4),
 Row(Order ID=10632, Total_quantity=5),
 Row(Order ID=10567, Total_quantity=6),
 Row(Order ID=8501, Total_quantity=10),
 Row(Order ID=5907, Total_quantity=5),
 Row(Order ID=5513, Total_quantity=9),
 Row(Order ID=20485, Total_quantity=7),
 Row(Order ID=17154, Total_quantity=6),
 Row(Order ID=6934, Total_quantity=6),
 Row(Order ID=24139, Total_quantity=5),
 Row(Order ID=23284, Total_quantity=4),
 Row(Order ID=20898, Total_quantity=5),
 Row(Order ID=19396, Total_quantity=6),
 Row(Order ID=19317, Total_quantity=5),
 Row(Order ID=17113, Total_quantity=15),
 Row(Order ID=16999, Total_quantity=3),
 Row(Order ID=16706, Total_quantity=8),
 Row(Order ID=16117, Total_quantity=3),
 Row(Order ID=13795, Total_quantity=5),
 Row(Order ID=13504, Total_quantity=7),
 Row(Order ID=11520, Total_quantity=6),
 Row(Order ID=10840, Total_quantity=6),
 Row(Order ID=10788, Total_quantity=5),
 Row(Order ID=10527, Total_quantity=6),
 Row(Order ID=10395, Total_quantity=10),
 Row(Order ID=9206, Total_quantity=11),
 Row(Order ID=9153, Total_quantity=9),
 Row(Order ID=8211, Total_quantity=13),
 Row(Order ID=6962, Total_quantity=9),
 Row(Order ID=5157, Total_quantity=5),
 Row(Order ID=24254, Total_quantity=5),
 Row(Order ID=22443, Total_quantity=6),
 Row(Order ID=22064, Total_quantity=4),
 Row(Order ID=21675, Total_quantity=7),
 Row(Order ID=21672, Total_quantity=5),
 Row(Order ID=21389, Total_quantity=4),
 Row(Order ID=21373, Total_quantity=7),
 Row(Order ID=21298, Total_quantity=7),
 Row(Order ID=19531, Total_quantity=8),
 Row(Order ID=19067, Total_quantity=3),
 Row(Order ID=18614, Total_quantity=8),
 Row(Order ID=18334, Total_quantity=4),
 Row(Order ID=18328, Total_quantity=5),
 Row(Order ID=17836, Total_quantity=6),
 Row(Order ID=15960, Total_quantity=6),
 Row(Order ID=15292, Total_quantity=7),
 Row(Order ID=14770, Total_quantity=7),
 Row(Order ID=14752, Total_quantity=8),
 Row(Order ID=14713, Total_quantity=5),
 Row(Order ID=14660, Total_quantity=8),
 Row(Order ID=12322, Total_quantity=5),
 Row(Order ID=12249, Total_quantity=7),
 Row(Order ID=11745, Total_quantity=5),
 Row(Order ID=10032, Total_quantity=6),
 Row(Order ID=9775, Total_quantity=6),
 Row(Order ID=9597, Total_quantity=5),
 Row(Order ID=7333, Total_quantity=5),
 Row(Order ID=7324, Total_quantity=8),
 Row(Order ID=5697, Total_quantity=5),
 Row(Order ID=5695, Total_quantity=4),
 Row(Order ID=5433, Total_quantity=8),
 Row(Order ID=5217, Total_quantity=4),
 Row(Order ID=2096, Total_quantity=7),
 Row(Order ID=25316, Total_quantity=3),
 Row(Order ID=24578, Total_quantity=5),
 Row(Order ID=21151, Total_quantity=5),
 Row(Order ID=14779, Total_quantity=1),
 Row(Order ID=24890, Total_quantity=4),
 Row(Order ID=22652, Total_quantity=3),
 Row(Order ID=5578, Total_quantity=3),
 Row(Order ID=12210, Total_quantity=2),
 Row(Order ID=24587, Total_quantity=13),
 Row(Order ID=24482, Total_quantity=10),

In [ ]:
df.groupBy("Order ID").agg(sum("Quantity").alias("Total_quantity")).filter(col("Order ID") == 25583).show()

+--------+--------------+
|Order ID|Total_quantity|
+--------+--------------+
|   25583|            14|
+--------+--------------+

In [ ]:
df.groupBy("Order ID").agg(sum("Quantity").alias("Total_quantity"), round(sum(df.Quantity * col("Product Price")),2).alias("Total_amount")).show()

+--------+--------------+------------+
|Order ID|Total_quantity|Total_amount|
+--------+--------------+------------+
|   25517|             4|       24.35|
|   24663|             6|       24.65|
|   24347|            13|        30.5|
|   24171|             4|        17.9|
|   21700|            10|       46.15|
|   21220|             6|       19.65|
|   20924|             6|        25.8|
|   20497|            15|       52.75|
|   20382|             9|        20.9|
|   19553|             8|       25.85|
|   19204|             8|        28.7|
|   18944|             9|        25.9|
|   18498|             7|       27.75|
|   12046|            12|       35.05|
|   11858|            12|        32.0|
|   11033|             5|        20.3|
|   10623|            10|       17.25|
|   10362|             7|        27.9|
|   10206|            14|        54.8|
|    9900|            18|       72.15|
+--------+--------------+------------+
only showing top 20 rows

In [ ]:
df.groupBy("Order ID").agg(expr("sum(Quantity) as Total_quantity"), expr("round(sum(Quantity * `Product Price`),2) as Total_amount")).show()

+--------+--------------+------------+
|Order ID|Total_quantity|Total_amount|
+--------+--------------+------------+
|   25517|             4|       24.35|
|   24663|             6|       24.65|
|   24347|            13|        30.5|
|   24171|             4|        17.9|
|   21700|            10|       46.15|
|   21220|             6|       19.65|
|   20924|             6|        25.8|
|   20497|            15|       52.75|
|   20382|             9|        20.9|
|   19553|             8|       25.85|
|   19204|             8|        28.7|
|   18944|             9|        25.9|
|   18498|             7|       27.75|
|   12046|            12|       35.05|
|   11858|            12|        32.0|
|   11033|             5|        20.3|
|   10623|            10|       17.25|
|   10362|             7|        27.9|
|   10206|            14|        54.8|
|    9900|            18|       72.15|
+--------+--------------+------------+
only showing top 20 rows

In [ ]:
spark.sql("""
    SELECT
        `Order ID`,
        sum(Quantity) as Total_quantity,
        round(sum(Quantity * `Product Price`),2) as Total_amount
    FROM orders
    GROUP BY `Order ID`
""").show()

+--------+--------------+------------+
|Order ID|Total_quantity|Total_amount|
+--------+--------------+------------+
|   25517|             4|       24.35|
|   24663|             6|       24.65|
|   24347|            13|        30.5|
|   24171|             4|        17.9|
|   21700|            10|       46.15|
|   21220|             6|       19.65|
|   20924|             6|        25.8|
|   20497|            15|       52.75|
|   20382|             9|        20.9|
|   19553|             8|       25.85|
|   19204|             8|        28.7|
|   18944|             9|        25.9|
|   18498|             7|       27.75|
|   12046|            12|       35.05|
|   11858|            12|        32.0|
|   11033|             5|        20.3|
|   10623|            10|       17.25|
|   10362|             7|        27.9|
|   10206|            14|        54.8|
|    9900|            18|       72.15|
+--------+--------------+------------+
only showing top 20 rows

In [ ]:
# thống kê số lượng sản phẩm bán ra theo từng loại xét theo năm

In [ ]:
# 1. Convert 'Order Date' to date type
# Assuming 'Order Date' is in 'MM/dd/yyyy HH:mm' format, adjust if necessary
# The original format "MM/dd/yyyy" was incorrect and caused the error.
df = df.withColumn("Order Date", to_date(col("Order Date"), "MM/dd/yyyy HH:mm"))

# 2. Extract the year from 'Order Date'
df = df.withColumn("Order Year", year(col("Order Date")))

# 3. Group by 'Item Name' and 'Order Year' and sum the quantities
product_sales_by_year = df.groupBy("Item Name", "Order Year").agg(
    sum("Quantity").alias("Total Quantity")
)

# 4. Display the results
product_sales_by_year.show()

+--------------------+----------+--------------+
|           Item Name|Order Year|Total Quantity|
+--------------------+----------+--------------+
|          Keema Naan|      2019|           217|
|        Graps Specil|      2017|             9|
|          Mint Sauce|      NULL|          1985|
|      Dupiaza - Lamb|      NULL|            45|
|    Vegetable Dansak|      2018|            12|
|       Jeera Chicken|      2019|             6|
|               Korma|      2017|           438|
|Bhuna - chicken-t...|      NULL|             8|
|         Prawn Puree|      2017|            80|
|     Garlic Mushroom|      2019|             7|
|        Royal Paneer|      2018|            31|
|     Vegetable Samba|      2018|             1|
|     Garlic Mushroom|      2017|             7|
|    Pathia - chicken|      2018|             7|
|     Bhuna - Chicken|      NULL|           149|
|     Mushroom Bhajee|      NULL|           370|
|         Chana Chaat|      2019|             7|
|        Aloo Dupiaza|      2017|            12|
|    Vegetable Masala|      2017|             3|
|        Paneer Kurma|      2017|             1|
+--------------------+----------+--------------+
only showing top 20 rows

---

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [5]:
sprk = SparkSession.builder.appName('Exercise_1_cont').getOrCreate()

In [29]:
file_path = '/content/sample_data/restaurant-orders.csv'
df = sprk.read.csv(file_path, header=True, inferSchema=True)

In [30]:
df.printSchema()

root
 |-- Order ID: integer (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Item Name: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Total products: integer (nullable = true)

In [19]:
transformed_df = df.withColumn("Order Date (new)", to_date(col("Order Date"), "MM/dd/yyyy HH:mm"))
transformed_df.printSchema()

root
 |-- Order ID: integer (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Item Name: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Total products: integer (nullable = true)
 |-- Order Date (new): date (nullable = true)

In [20]:
transformed_df.show()

+--------+----------------+--------------------+--------+-------------+--------------+----------------+
|Order ID|      Order Date|           Item Name|Quantity|Product Price|Total products|Order Date (new)|
+--------+----------------+--------------------+--------+-------------+--------------+----------------+
|   25583|03/08/2019 21:58|Tandoori Mixed Grill|       1|        11.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|        Madras Sauce|       1|         3.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|       Mushroom Rice|       2|         3.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|         Garlic Naan|       1|         2.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|             Paratha|       1|         2.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|          Plain Rice|       1|         2.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|         Prawn Puree|       1|         4.95|            12|      2019-03-08|
|   25583|03/08/2019 21:58|       Plain Papadum|       1|          0.8|            12|      2019-03-08|
|   25583|03/08/2019 21:58|       Mango Chutney|       2|          0.5|            12|      2019-03-08|
|   25583|03/08/2019 21:58|       Onion Chutney|       1|          0.5|            12|      2019-03-08|
|   25583|03/08/2019 21:58|          Mint Sauce|       1|          0.5|            12|      2019-03-08|
|   25583|03/08/2019 21:58|Chicken Tikka Masala|       1|         8.95|            12|      2019-03-08|
|   25582|03/08/2019 20:33|Tandoori King Pra...|       1|        12.95|             5|      2019-03-08|
|   25582|03/08/2019 20:33|          Pilau Rice|       1|         2.95|             5|      2019-03-08|
|   25582|03/08/2019 20:33|       Peshwari Naan|       1|         2.95|             5|      2019-03-08|
|   25582|03/08/2019 20:33|         Bottle Coke|       1|         2.95|             5|      2019-03-08|
|   25582|03/08/2019 20:33|      Butter Chicken|       1|         8.95|             5|      2019-03-08|
|   25581|03/08/2019 20:01|         Saag Paneer|       1|         5.95|             5|      2019-03-08|
|   25581|03/08/2019 20:01|             Chapati|       1|         1.95|             5|      2019-03-08|
|   25581|03/08/2019 20:01|         Onion Bhaji|       1|         3.95|             5|      2019-03-08|
+--------+----------------+--------------------+--------+-------------+--------------+----------------+
only showing top 20 rows

In [11]:
df = df.withColumn("Order Date", col("Order Date").cast("timestamp"))
df.printSchema()

root
 |-- Order ID: integer (nullable = true)
 |-- Order Date: timestamp (nullable = true)
 |-- Item Name: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Total products: integer (nullable = true)

In [12]:
df.show()

+--------+----------+--------------------+--------+-------------+--------------+
|Order ID|Order Date|           Item Name|Quantity|Product Price|Total products|
+--------+----------+--------------------+--------+-------------+--------------+
|   25583|      NULL|Tandoori Mixed Grill|       1|        11.95|            12|
|   25583|      NULL|        Madras Sauce|       1|         3.95|            12|
|   25583|      NULL|       Mushroom Rice|       2|         3.95|            12|
|   25583|      NULL|         Garlic Naan|       1|         2.95|            12|
|   25583|      NULL|             Paratha|       1|         2.95|            12|
|   25583|      NULL|          Plain Rice|       1|         2.95|            12|
|   25583|      NULL|         Prawn Puree|       1|         4.95|            12|
|   25583|      NULL|       Plain Papadum|       1|          0.8|            12|
|   25583|      NULL|       Mango Chutney|       2|          0.5|            12|
|   25583|      NULL|       Onion Chutney|       1|          0.5|            12|
|   25583|      NULL|          Mint Sauce|       1|          0.5|            12|
|   25583|      NULL|Chicken Tikka Masala|       1|         8.95|            12|
|   25582|      NULL|Tandoori King Pra...|       1|        12.95|             5|
|   25582|      NULL|          Pilau Rice|       1|         2.95|             5|
|   25582|      NULL|       Peshwari Naan|       1|         2.95|             5|
|   25582|      NULL|         Bottle Coke|       1|         2.95|             5|
|   25582|      NULL|      Butter Chicken|       1|         8.95|             5|
|   25581|      NULL|         Saag Paneer|       1|         5.95|             5|
|   25581|      NULL|             Chapati|       1|         1.95|             5|
|   25581|      NULL|         Onion Bhaji|       1|         3.95|             5|
+--------+----------+--------------------+--------+-------------+--------------+
only showing top 20 rows

In [31]:
df = df.withColumn("Order Date", to_timestamp(col("Order Date"), "MM/dd/yyyy HH:mm"))
df.printSchema()

root
 |-- Order ID: integer (nullable = true)
 |-- Order Date: timestamp (nullable = true)
 |-- Item Name: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Total products: integer (nullable = true)

In [32]:
df.show(10)

+--------+-------------------+--------------------+--------+-------------+--------------+
|Order ID|         Order Date|           Item Name|Quantity|Product Price|Total products|
+--------+-------------------+--------------------+--------+-------------+--------------+
|   25583|2019-03-08 21:58:00|Tandoori Mixed Grill|       1|        11.95|            12|
|   25583|2019-03-08 21:58:00|        Madras Sauce|       1|         3.95|            12|
|   25583|2019-03-08 21:58:00|       Mushroom Rice|       2|         3.95|            12|
|   25583|2019-03-08 21:58:00|         Garlic Naan|       1|         2.95|            12|
|   25583|2019-03-08 21:58:00|             Paratha|       1|         2.95|            12|
|   25583|2019-03-08 21:58:00|          Plain Rice|       1|         2.95|            12|
|   25583|2019-03-08 21:58:00|         Prawn Puree|       1|         4.95|            12|
|   25583|2019-03-08 21:58:00|       Plain Papadum|       1|          0.8|            12|
|   25583|2019-03-08 21:58:00|       Mango Chutney|       2|          0.5|            12|
|   25583|2019-03-08 21:58:00|       Onion Chutney|       1|          0.5|            12|
+--------+-------------------+--------------------+--------+-------------+--------------+
only showing top 10 rows

In [ ]:
transformed_df.createOrReplaceGlobalTempView("orders")

In [33]:
df.createOrReplaceTempView("orders")

In [22]:
sprk.sql("SELECT * FROM orders").show

In [ ]:
sprk.sql("SELECT `Item Name`, Quantity, date_format(`Order Date`, 'yyyy') as Year FROM orders").show()

+---------+--------+----+
|Item Name|Quantity|Year|
+---------+--------+----+
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       2|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       2|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
|Item Name|       1|2019|
+---------+--------+----+
only showing top 20 rows

In [25]:
sprk.sql("SELECT `Item Name`, date_format(`Order Date`, 'yyyy') as Year, sum(Quantity) as Amount FROM orders GROUP BY `Item Name`, Year").show()

+--------------------+----+------+
|           Item Name|Year|Amount|
+--------------------+----+------+
|          Mint Sauce|NULL|  3208|
|      Dupiaza - Lamb|NULL|    68|
|    Lamb Tikka Balti|NULL|    95|
|   Vegetable Biryani|NULL|   234|
|Bhuna - chicken-t...|NULL|    10|
|     Mushroom Bhajee|NULL|   584|
|     Bhuna - Chicken|NULL|   239|
|           Saag Aloo|NULL|  2089|
|Malaya - Chicken ...|NULL|    16|
|             Dhansak|NULL|   512|
|        Madras Sauce|NULL|   233|
|            Vindaloo|NULL|   387|
|         Prawn Puree|NULL|   844|
|      Grapes Special|NULL|   368|
|             Dupiaza|NULL|   261|
|     Chicken Biryani|NULL|  1071|
|   Lamb Tikka (Main)|NULL|    88|
|       Mushroom Rice|NULL|  3424|
|Cylon - chicken-t...|NULL|     1|
|Korma - Chicken T...|NULL|    80|
+--------------------+----+------+
only showing top 20 rows

In [38]:
sprk.sql("""
      SELECT `Item Name`, date_format(`Order Date`, 'yyyy') as Year, sum(Quantity) as Amount
      FROM orders GROUP BY `Item Name`, Year ORDER BY Year""").groupBy("Item Name").pivot("Year").sum("Amount").show()

+--------------------+----+----+----+----+----+
|           Item Name|null|2016|2017|2018|2019|
+--------------------+----+----+----+----+----+
|      Dupiaza - Lamb|  45|NULL|NULL|   8|  15|
|          Mint Sauce|1985| 141| 392| 404| 286|
|    Lamb Tikka Balti|  49|   2|   9|  24|  11|
|Bhuna - chicken-t...|   8|NULL|NULL|   2|NULL|
|   Vegetable Biryani| 143|  16|  18|  26|  31|
|     Bhuna - Chicken| 149|NULL|NULL|  42|  48|
|     Mushroom Bhajee| 370|  22|  67|  73|  52|
|           Saag Aloo|1249| 116| 265| 284| 175|
|Malaya - Chicken ...|  13|NULL|NULL|   1|   2|
|             Dhansak| 308|  50| 114|  40|NULL|
|       Korma - prawn|   2|NULL|NULL|   1|NULL|
|        Madras Sauce| 135|   3|  15|  38|  42|
|            Vindaloo| 230|  35|  93|  29|NULL|
|         Prawn Puree| 522|  37|  80| 116|  89|
|   Saag - king-prawn|NULL|NULL|NULL|   1|NULL|
|      Grapes Special| 218|  17|  42|  56|  35|
|  Korma - King Prawn|  17|NULL|NULL|   2|   5|
|        Saag - Prawn|NULL|NULL|NULL|   1|NULL|
|             Dupiaza| 146|  23|  58|  34|NULL|
|     Chicken Biryani| 647|  42| 138| 135| 109|
+--------------------+----+----+----+----+----+
only showing top 20 rows